<div class="container">
    <form [formGroup]="loginForm" class="shadow-lg p-5 mt-5 boxSize boxCenter border rounded">
        <h3 class="text-center loginTxt">Login</h3>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div class="text-danger" *ngIf="formErrors.email">
            {{formErrors.email}}
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
          <div class="text-danger" *ngIf="formErrors.password">
            {{ formErrors.password }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" (click)="login()">Submit</button>
      </form>
</div>
