<div class="container">
    <div class="shadow-lg mt-5 boxSize boxCenter border rounded">
        <div class="row">
            <div class="col-md-4 leftCard text-center">
                <img class="avatar" src="../../../assets/images/computer-icons-user-profile-male-avatar-png-favpng-jhVtWQQbMdbcNCahLZztCF5wk_t-removebg-preview.png" alt="avatar">
            </div>
            <div class="col-md-8">
                <div class="h3 text-center mt-2 border-bottom">Personal Information</div>
                <div class="container marLft">
                    <div class="my-4">
                        <span>Name:- </span><span class="marLft10">{{profileData?.fullName}}</span>
                    </div>
                    <div class="my-4">
                        <span>Email:- </span><span class="marLft10">{{profileData?.email}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>